html {
	position: relative;
	min-height: 100%;
}

body {
	font-family: 'Open sans-serif';
	margin-bottom: 60px;
}

.bg-gray {
	background-color: #313441;
}

h2 {
	font-family: Alfa Slab One, serif;
}

.clickable {
	pointer-events: auto;

}



